@import (reference) "../global";

// Section (behind)
.dynamic-bg--container {
  .section--xl.dynamic-bg {
    padding-top: ~'calc((var(--section-padding) * 1) - (var(--gap-row) * 0.5))';
    padding-bottom: ~'calc((var(--section-padding) * 1) - (var(--gap-row)))';
    z-index: 1;
  }

  // Offsets
  .dynamic-bg--offset--33 {
    position: relative;
    transform: translateY(33%);
    z-index: 2;
  }

  // Backgrounds
  .dynamic-bg {
    .background,
    .background::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform-origin: center center;
      pointer-events: none;
      z-index: -1;
    }
    .background {
      animation-fill-mode: both;
      animation-name: appearFromTop;
      animation-delay: 0.5s;
      animation-duration: 1.5s;
      animation-timing-function: @bezier-push;
      animation-play-state: var(--animation-play-state);
      overflow: hidden;
    }
    .row {
      animation-fill-mode: both;
      animation-name: appearFromTopTransform;
      animation-delay: 0.5s;
      animation-duration: 1.5s;
      animation-timing-function: @bezier-push;
      animation-play-state: var(--animation-play-state);
    }
  }

  // Image
  .dynamic-bg--image {
    width: 100%;
    height: auto;
    transform-origin: center center;
    animation-fill-mode: both;
    animation-name: appearFromTop;
    animation-delay: 0.15s;
    animation-duration: 1.5s;
    animation-timing-function: @bezier-push;
    animation-play-state: var(--animation-play-state);
  }

  // Colors
  @color-dynamic-yellow: #FEE195;
  @color-pale-blue: #F3FCFF;

  @color-dynamic-green: #DCFE95;
  @color-pale-orange: #FFFCF3;

  @color-dynamic-pink: #FE95C1;
  @color-pale-yellow: #FFF8F3;

  .dynamic-bg--yellow .background::before {
    transform: scale(5) rotate(-125deg);
    background-color: @color-dynamic-yellow;
    background: conic-gradient(@color-dynamic-yellow, @color-pale-blue, @color-dynamic-yellow);
  }
  .dynamic-bg--green .background::before {
    transform: scale(5) rotate(-125deg);
    background-color: @color-dynamic-green;
    background: conic-gradient(@color-dynamic-green, @color-pale-orange, @color-dynamic-green);
  }
  .dynamic-bg--pink .background::before {
    transform: scale(5) rotate(-125deg);
    background-color: @color-dynamic-pink;
    background: conic-gradient(@color-dynamic-pink, @color-pale-yellow, @color-dynamic-pink);
  }
}


@keyframes appearFromTop {
  0%    { transform: translateY(-2.5vh); clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); opacity: 0; }
  100%  { transform: translateY(0); clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); opacity: 1; }
}

@keyframes appearFromTopTransform {
  0%    { transform: translateY(5vh); opacity: 0; }
  25%   { opacity: 0; }
  100%  { transform: translateY(0); opacity: 1; }
}
